body, h1, h2, p, ul, li, footer, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(experienced\ bg.jpg); 
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    padding: 70px;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

nav {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 5px 20px; /* Reduced padding for a skinnier nav */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 50px; /* Set a fixed height for the nav */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #FFD700; 
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 80px; 
    margin-bottom: 20px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 2;
}

h2 {
    font-size: 1.8em;
    margin-top: 20px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 2;
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 2;
}

ul {
    margin: 10px 0 20px 20px;
    list-style-type: disc;
}

ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

ul li strong {
    color: #FFD700; 
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 0.9em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
}

body > *:not(nav):not(footer) {
    margin: 0 auto;
    max-width: 800px; 
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2em;
        margin-top: 80px; /* Adjusted margin for smaller screens */
    }

    h2 {
        font-size: 1.5em;
    }

    body > *:not(nav):not(footer) {
        max-width: 90%;
    }
}